{% extends 'base.html' %}
{% block content %}
    {% include 'partials/_header.html' %}

<div class="max-w-lg mx-auto min-h-screen grid  place-items-center">
  <div class="w-full">
<h1 class="h-10 text-center font-semibold text-2xl my-4">Edit Profile</h1>
<form class="grid"  enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Update Profile" class="text-white bg-blue-500 rounded my-5 p-3 cursor-pointer">
</form>
</div>

</div>
</div>
				{%include 'partials/_footer.html'%}

{% endblock content %}