{% extends 'base.html' %} {% block content %}
<section>
  {% include 'partials/_header.html' %}
  <div class="flex-column text-start">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-8 fw-bold lh-1">Hi {{user.first_name}},</br><span class="fs-2">Find the most recent resources in the {{track}} Track</h1>
        <p class="lead">{{track.description}}</span></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="{% url 'base:resources' %}" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Get Started</a>
          {% comment %} <button type="button" class="btn btn-outline-secondary btn-lg px-4">Intro</button> {% endcomment %}
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
          <img class="rounded-lg-3" class="track-banner" src="{{track.banner}}" alt="" width="720" height="420">
      </div>
    </div>
    {% comment %} initial content   {% endcomment %}
        {% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    
    {% endif %} {% endcomment %}
  
    {% comment %} initial content   {% endcomment %}

    

    </div>
  </div>
</section>
{%include 'partials/_footer.html'%} {% endblock %}
