{% extends 'base.html' %}
{% comment %} {% load markdown_extras %} {% endcomment %}
{% block content %}
{% include 'partials/_header.html' %}

<div class=" max-w-xl mx-auto min-h-screen grid place-items-center">
  <div class="w-full">
<h1 class="h-10 text-center font-semibold text-2xl my-7">My Profile</h1>
<div class="grid items-center  leading-7 tracking-wide">

    <img style="width:150px ;height: 150px;"  class="rounded-full object-cover" alt="" src="{{profile.avatar.url}}">
    <h2 class="font-semibold text-2xl my-4">@{{profile.username}}</h2>
    <p class="text-gray-200 text-xl">{{profile.first_name}}{{' '}}{{profile.last_name}}</p>
    <p class="text-gray-400">{{profile.email}}</p>
    <div class="section my-5">
      {% if profile.bio %}
      <p>{{profile.bio}}</p>
      {% endif %}
    </div>
    <div class="grid md:grid-cols-2 place-items-center gap-1 md:gap-12 w-full">
    <a class="bg-blue-500 text-white rounded w-full  py-3 text-center my-3" href='{% url 'base:editprofile' %}'>Edit Profile</a>
    <a class="bg-rose-400 text-white rounded w-full py-3 text-center my-3 md:mr-5" href='{% url 'base:logout' %}'>Logout</a>
</div>
  </div>

</div>
</div>
				{%include 'partials/_footer.html'%}

{% endblock content %}