{% extends 'base.html' %}
{% comment %} {% load markdown_extras %} {% endcomment %}
{% block content %}
{% include 'partials/_header.html' %}

<section class=" max-w-xl mx-auto min-h-screen grid place-items-center">
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
    <img  class="profile--avatar" alt="" src="{{profile.avatar.url}}">
    <h2 class="fw-bold fs-2">@{{profile.username}}</h2>
    <p class="fs-3">{{profile.first_name}}{{' '}}{{profile.last_name}}</p>
    <p class="lead">{{profile.email}}</p>
    <div class="section">
      {% if profile.bio %}
      <p>{{profile.bio}}</p>
      {% endif %}
      <div class="buttons">
      <a class="btn btn-primary me-4" href='{% url 'base:editprofile' %}'>Edit Profile</a>
      <a class="btn btn-danger" href='{% url 'base:logout' %}'>Logout</a>
  </div>
    </div>
  </div>
</section>
				{%include 'partials/_footer.html'%}

{% endblock content %}